.postCardsGrid {
  display: grid;
  // grid-template-rows: auto;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  justify-items: center;
  border-radius: 2.4rem;
  overflow: hidden;
  position: relative;
  // align-self: stretch;
  // grid-auto-rows: auto;
  // grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  // grid-template-columns: repeat(3, 2fr);
  // justify-content: space-between;
  // justify-items: flex-start;
  // display: flex;
  // justify-content: space-between;
  // width: 100%;
  // margin: 100px auto;
  // flex-wrap: wrap;
}

// .postCardsGrid > div {
//   border: 1px solid white;
//   height: 500px;
// }
