.blobWrapper {
  position: absolute;
  top: 50%;
  right: 100px;
  height: 100px;
  width: 100px;
  z-index: -9;
  background: linear-gradient(45deg, red, purple);
  transition: 300ms ease-in-out all;
  border-radius: 50%;
}

.blob {
  position: fixed;
  top: 100%;
  left: 0%;
  transform: translate(-50%, -50%);
  z-index: -1;
  font-size: 30rem;
}

.blob svg path {
  stroke: var(--secondaryColor);
  fill: transparent;
}
